{%  extends 'base.html.twig' %}

{% block title articles.title %}

{% block body %}
    <div class="content-wrapper">
        {% for picture in articles.pictures %}
            <div class="page-title" style="background-image: url({{ vich_uploader_asset(picture, 'imageFile')}});">
                <div class="page-content">
                    <div class="">
                        <div class="page-title-content">
                            <ol>{{ articles.user.unit }}</ol>
                            <h1 class="main-page-title">
                                <span>{{ articles.title }}</span>
                            </h1>
                        </div>
                    </div>
                    <div class="page-title-meta">
                        <span>le {{ articles.FormatedDate }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="content">
            <div class="main-content">
                <article id="post-{{ articles.id }}" >
                    <div class="entry-content">
                        <p>
                            {{ articles.content }}
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}