{%  extends 'base.html.twig' %}

{% block title articles.title %}

{% block body %}
    <div class="">
        {% for picture in articles.pictures %}
            <div class="page-title" style="background-image: url({{ vich_uploader_asset(picture, 'imageFile')}});">
                <div class="page-content">
                    <div class="page-header-content">
                        <div class="text-align-center">
                            <div class="page-title-content">
                                <ol>
                                    <li>
                                        <span>{{ articles.user.unit }}
                                        </span>
                                    </li>
                                </ol>
                                <h1 class="main-page-title">
                                    <span>{{ articles.title }}</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="page-title-meta">
                        <span>{{ articles.FormatedDate }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        <section id="new">
            <div class="content-wrapper">
                <div class="content">
                    <div class="main-content">
                        <article id="post-{{ articles.id }}" class="post">
                            <div class="entry-content">
                                <p>
                                    {{ articles.content | nl2br}}
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}